/*
Theme Name: wp-bootstrap
Theme URI: http://320press.com/wpbs
Description: A simple responsive theme based on the Bootstrap framework. Includes multiple page templates, two different sidebars and a theme options panel.
Version: 2.1
Author: 320press
Author URI: http://320press.com
Tags: black, white, one-column, two-columns, flexible-width, custom-background, custom-colors, custom-menu, full-width-template, theme-options
License: GNU General Public License v2.0 & Apache License 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html http://www.apache.org/licenses/LICENSE-2.0
*/

/* micro clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

/* wp-specific classes */
.wp-caption{

}

.wp-caption-text{

}

.sticky{

}

.gallery-caption{

}

/* layout */

body{
	padding-top: 0;
}

/* Admin Top Navigation fixes */

body.admin-bar .navbar-fixed-top{
	top: 28px;
}

.navbar .brand{
	color: #000 !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
	font-weight: bold !important;
}

.nav-container{
	padding-left: 0;
	padding-right: 0;
}

#inner-header{
	width: 100%;
}

input, textarea, select, .uneditable-input {
	margin-bottom: 0;
}

.navbar-form, .navbar-search {
	margin: 0 0 9px;
}

.navbar-search{
	padding-left: 0;
}

#s{
	width: 100px;
}

#content{
	padding: 10px 0 0;
}

.more-link{
	white-space: nowrap;
}

.footer-links{
	float: right;
	margin-bottom: 18px;
}

.footer-links .menu{
	list-style-type: none;
	margin-left: 0;
}

.footer-links .menu li{
	float: left;
	margin-left: 10px;
}

/* post styling */

#main p.meta{
	font-style: italic;
	color: #808080;
}

#main article{
	margin-bottom: 18px;
	border-bottom: 1px solid #eeeeee;
	padding: 0 0 9px;
}

.sidebar{
	margin-top: 18px !important;
}

#main article footer{
	border-top: none;
	margin-top: 0;
	padding-top: 0;
	position: relative;
	min-height: 20px;
}

#main article footer a.edit-post{
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.post:hover a.edit-post{
	display: inline;
}

p.tags{
	line-height: 20px;
}

div[id*='attachment_']{
	max-width: 100%;
	height: 100%;
}

#credit320{
	background: url('images/320press_mini.png') no-repeat left top transparent;
	padding-left: 20px;
}

#main .hero-unit img{
	margin-bottom: 1em;
}

#main article img{
	height: auto;

}

img.alignleft{
	margin-right: 10px;
	float: left;
}

img.alignright{
	margin-left: 10px;
	float: right;
}

img.aligncenter{
	display: block;
	margin: 0 auto;
}

.post header img{
	margin-bottom: 18px;
}

.archive #main .post h3{
	line-height: 24px;
	margin-bottom: 10px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
	width: 630px;
	max-width: 100%;
	margin-bottom: 18px;
}

/* page styling */

#featured-carousel .item{
	width: 970px;
	height: 600px;
}

.carousel-caption p{
	display: none;
}

.page-template-page-homepage-php #main article{
	border-bottom: none;
}

.page-template-page-homepage-php .hero-unit,
.blog .hero-unit{
	padding: 1em;
}

.hero-unit h1 {
	font-size: 3em;
}

/* comments */



#comments{
	line-height: 24px;
	margin-bottom: 18px;
}

ol.commentlist,
ol.commentlist ul.children{
	list-style-type: none;
	margin-left: 0;
}

.comment .vcard div{
	margin-top: 8px;
	padding: 0 10px;
}

ol.commentlist time{
	font-size: .8em;
	color: #eeeeee;
}

ol.commentlist div.comment-author{
	position: relative;
}

ol.commentlist a.comment-edit-link{
	color: #ffffff;
	text-decoration: none;
	padding-left: 5px;
}

ol.commentlist span.edit-comment{
	position: absolute;
	right: 0;
	top: 8px;
}

ol.commentlist li.bypostauthor{
	background-color: #dddddd;
}

ol.commentlist ul.children li{
	background-color: #cccccc;
}

ol.commentlist ul.children li ul.children li{
	background-color: #bbbbbb;
}

ol.commentlist ul.children li ul.children li ul.children li{
	background-color: #aaaaaa;
}

ol.commentlist article{
	border-bottom: none !important;
}

a.comment-reply-link{
	position: absolute;
	right: 0;
	bottom: 0;
}

#comment-nav ul{
	list-style-type: none;
	margin: 0;
}

#comment-form-elements{
	list-style-type: none;
	margin: 0;
}

.comment .vcard .avatar{
	padding-right: 0;
}

.comment .vcard .comment-text{
	margin-left: 0;
}

img.avatar{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-left: 1px solid #ddd;

}

ol.commentlist li{
	padding-right: 10px;
	background-color: #F0F0F0;
}

#pings{
	margin-bottom: 9px;
}

ol.pinglist{
	list-style-type: none;
	margin: 0 0 9px 0;
}

#comment{
	width: 270px;
}

ol.commentlist #respond{
	padding: 5px 10px;
}

/* specific post-type styles */

/* image attachment */

.attachment #main .post_content img{
	max-width: 100%;
}

.ie8 #main .media-grid img{
	max-height: none !important;
	max-width: none !important;
}

.attachment-img{
	margin-bottom: 18px;
}

.metadata p.alert-message{
	margin-right: 0;
	margin-bottom: 18px;
}

#gallery-nav{
	list-style-type: none;
	margin-left: 0;
}

li.next a, li.previous a{
	position: relative;
}

li.next a:hover:before{
	content: "\2190";
	position: absolute;
	display: block;
	top: 42%;
	left: 0;
	background-color: #BFBFBF;
	color: #444;
	width: 20px;
	height: 20px;
	padding-left: 5px;
	text-decoration: none;
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

li.previous a:hover:before{
	content: "\2192";
	position: absolute;
	display: block;
	top: 42%;
	right: 0;
	background-color: #BFBFBF;
	color: #444;
	width: 20px;
	height: 20px;
	padding-left: 5px;
	text-decoration: none;
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}


/* widget styles */

.widget{
	margin-bottom: 18px;
}

.widgettitle{
	margin-bottom: 9px;
}

#tag-cloud{
	margin-bottom: 18px;
	line-height: 160%;
}

/* for some reason the bs version currently available for download doesn't have this style */
.label{
	text-transform: uppercase;
}

/* override standard link hover for the tag cloud widget */
.container-fluid #tag-cloud a:hover,
.container-fluid .tags a:hover{
	color: #ffffff;
	text-decoration: none;
}

#tag-cloud a{
	white-space: pre;
	text-transform: uppercase;
}

/* change default form padding for search */

.widget_search form{
	padding-left: 0;
}

.widget_search input{
	width: 121px;
}

/* calendar widget */

#calendar_wrap{
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}

#wp-calendar{
	width: 100%;

}

#wp-calendar caption{
	font-weight: bold;
	padding: 8px;
}

#wp-calendar tr{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#wp-calendar tr:last-child{
	border-bottom: none;
}

#wp-calendar td{
	text-align: center;
	padding: 8px 0;
}

blockquote.pull-left{
	padding-right: 15px;
}

@media only screen and (min-width: 768px) {
	.carousel-caption p{
		display: block;
	}
}

@media only screen and (min-width: 980px) {
	body{
		padding-top: 70px;
	}

	.container-fluid{
		max-width: 970px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	#inner-footer{
		padding: 0;
	}

	#content{
		padding-left: 0;
		padding-right: 0;
	}

	.topbar-inner{
		padding: 0;
	}

	.topbar form.pull-right {
		float: right;
	}

	.navbar-form, .navbar-search {
		margin-top: 6px;
		margin-bottom: 0;
	}

	.navbar-search{
		padding-left: 0;
	}

	.sidebar{
		margin-top: 0 !important;
	}

	.widget_search input{
		width: 230px;
	}

	.blog .hero-unit{
		margin-top: 10px;
	}

	.page-template-page-homepage-php .hero-unit,
	.blog .hero-unit{
		padding: 60px;
	}

	.hero-unit h1 {
		font-size: 60px;
	}

	/* hide edit comment button and show on hover on desktop version */
	.edit-comment{
		display: none;
	}

	.vcard:hover .edit-comment{
		display: inline-block;
	}

	#s{
		width: 150px;
		margin-bottom: 6px;
	}

	.widget_search input{
		width: 209px;
	}

	.comment .vcard .comment-text{
		padding-left: 0;
		padding-right: 0;
	}
}

.ajax_loader {
	display:none;
}
header .navbar .navbar-inner {
	background: -moz-linear-gradient(top,  #3f3f3f 0%, #080808 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#080808));
	background: -webkit-linear-gradient(top,  #3f3f3f 0%,#080808 100%);
	background: -o-linear-gradient(top,  #3f3f3f 0%,#080808 100%);
	background: -ms-linear-gradient(top,  #3f3f3f 0%,#080808 100%);
	background: linear-gradient(to bottom,  #3f3f3f 0%,#080808 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#080808',GradientType=0 );
}
header .navbar .nav > li {
	line-height:30px;
}
header .navbar .nav .dropdown-toggle .caret {
	margin-top: 14px;
}
header .navbar .brand {
	padding:5px 25px 5px 20px !important;
}
header .navbar .brand img {
	height:50px;
}
header .navbar .nav-header {
	color:#007fff;
}
header .navbar .navbar-search {
	margin-top:15px;
}
header .navbar .channels {
	padding:15px;
}
header .navbar .channels .directions {
	font-size:smaller;
}
header .navbar .channel_cat .directions {
	margin-top:-4px;
}
header .navbar .channels i {
	margin-top:7px;
}
header .navbar .channel_cat ul {
	margin:0;
	padding:0;
}
header .navbar .channel_cat li {
	float:left;
	list-style-type:none;
}
header .navbar .channel_cat a {
	padding:3px 20px;
}
header .navbar .channel_cat a:hover,
header .navbar .channel_cat li.active a {
	color:white;
	background-color: #007af5;
	text-decoration: none;
	background-image: linear-gradient(to bottom,#007fff,#0072e6);
	background-repeat: repeat-x;
}
header .navbar .channels .state .directions {
	padding-top:4px;
}
header .navbar .channels .state select {
	height:25px;
	line-height:25px;
	font-size:12px;
}
header .navbar .channels .results {
	margin-top:15px;
	display:none;
	max-height:300px;
	min-height:25px;
	overflow:auto;
}
header .navbar .channels .results ul {
	margin:0;
	padding:0;
	-moz-column-count: 3;
    -moz-column-gap: 8px;
    -webkit-column-count: 3;
    -webkit-column-gap: 8px;
    column-count: 3;
    column-gap: 8px;
	font-size:11px;
}

.ie8 .navbar .channels.span8 {
	width:800px;
}
.ie8 .navbar-inner,
.ie8 .navbar-inverse .navbar-inner,
.ie7 .navbar-inner,
.ie7 .navbar-inverse .navbar-inner {
	filter:none !important;
}
.ie8 .navbar li a:hover {
	background:none;
}
.ie8 header .navbar .channel_cat a:hover,
.ie7 header .navbar .channel_cat a:hover,
.ie8 header .navbar .channel_cat li.active a,
.ie7 header .navbar .channel_cat li.active a {
	color:white;
	background-color: #007af5;
	text-decoration: none;
	background-image: linear-gradient(to bottom,#007fff,#0072e6);
	background-repeat: repeat-x;
}

@media only screen and (max-width: 767px) {

	header .navbar .channels i {
		display:none;
	}
	header .navbar .navbar-inner {
		background:#080808;
	}
	header .navbar .channels {
		background:white;
	}
	header .nav-collapse .nav>li>a,
	header .nav-collapse .dropdown-menu a {
		color:white;
	}
	header .nav-collapse .nav>li>a:hover {
		background:none;
	}
	header .navbar .channel_cat a {
		color:#007af5;
	}

}

/* header .navbar .dropdown-menu a i {
	float:right;
}
header .navbar .third_level {
	display:none;
	position:absolute;
	left:100%;
	top:0;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
header .navbar .dropdown-menu .third_level.states_dropdown {
	width:660px;
}
header .navbar .dropdown-menu li:hover .third_level {
	display:block;
}
header .navbar .dropdown-menu .third_level ul {
	margin-left:0;
	list-style-type:none;
	float:left;
	width:auto;
}
header .navbar .dropdown-menu .third_level ul a {
	font-size:12px;
	line-height:14px;
} */
