/*-------------------------------------------------------------
|
|	General
|
---------------------------------------------------------------*/

body {
	/*background-image:url('../../images/tiny_grid.png');*/
	background: #F1F1F1;
}
.easysmp_wrapper, .easysmp_wrapper object, .easysmp_wrapper video {
	width:100%;
}
body .row-fluid .span1_5 {
	width:99px;
	margin-left:20px;
	float:left;
}
body .row-fluid .span1_5:first-child {
	margin-left:20px;
}
@media only screen and (max-width: 767px) {
	body .row-fluid .span1_5 {
		width:80px;
		margin-left:10px;
	}
}
header .navbar .navbar-inner {
	background: #333;
}
.hidden {
	display:none !important;
}
h3 {
	font-size:20px;
}
a, a:visited {
	color: #004890;
}
.hero-unit, .well {
	background: white;
}
.modal-header {
	background:#007fff;
}
.modal-header h3 {
	color:white;
}
.row-fluid ul.thumbnails li.span12 + li { margin-left : 0px; }
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) { margin-left : 0px; }

.channel_offline {
    background: #000000;
    color: #FFFFFF;
    height: 400px;
    line-height: 400px;
    text-align: center;
}

#video a {
    background: #000000;
    color: #FFFFFF;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.img-responsive {
	max-width: 100%;
}
#header-navbar .phone {
	padding: 15px;
	display: inline-block;
	line-height: 30px;
	color: white;
	font-weight: bold;
}

@media (max-width: 480px) {
.channel_offline {
    height: 200px !important;
    line-height: 200px !important;
}
}



/*-------------------------------------------------------------
|
|	Android browser <video> controls fix
|
---------------------------------------------------------------*/

input[type="button"]:first-child{cursor:default;-webkit-appearance:media-play-button}
input[type="button"]{cursor:default;-webkit-appearance:media-enter-fullscreen-button}
input[type="button"]{cursor:default}
input{width:auto}
input[type="button"]{width:50px}

html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
html input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"]{cursor:pointer}
html input,textarea,.uneditable-input{width:206px}
html input[type="button"],input[type="radio"],input[type="checkbox"]{width:auto}



/*-------------------------------------------------------------
|
|	page-homepage.php
|
---------------------------------------------------------------*/

.page-template-page-homepage-php h2 {
	font-size:20px;
}
.page-template-page-homepage-php .hero-unit {
	padding:10px 60px;
  text-align: center;
}
.page-template-page-homepage-php .hero-unit img {
  display: inline-block;
}
.page-template-page-homepage-php .hero-unit p {
	text-align:center;
}
.page-template-page-homepage-php .media > a {
	width:30px;
	height:30px;
	overflow:hidden;
}
.page-template-page-homepage-php .media {
	margin-top:5px;
}
.page-template-page-homepage-php .media h4 {
	font-size:13px;
	line-height:30px;
}
.page-template-page-homepage-php .all_channels ul {
  margin:0;
  padding:0;
  list-style-type:none;
  -moz-column-count: 3;
  -moz-column-gap: 8px;
  -webkit-column-count: 3;
  -webkit-column-gap: 8px;
  column-count: 3;
  column-gap: 8px;
  font-size:11px;
}
.page-template-page-homepage-php .all_channels .well {
  display: inline-block;
  width: 100%;
}

.box{
  border: solid 1px;
  border-color: #888888;
  margin: 0px 5px 10px 0px;
  background-color: white;
  box-shadow: 1px 1px #888888;
}

#state{
  font-size:15px;
  margin:4px;
}

/*-------------------------------------------------------------
|
|	content-channel.php
|
---------------------------------------------------------------*/

.single-channel {
	padding-top: 50px;
}
.single-channel .container-fluid {
	max-width: 1100px;
}
.single-channel #main {
	border-right: 1px solid #d6d6d6;
}
.single-channel #main .well {
	padding: 30px;
}
.single-channel #main h2.widget {
	border: 1px solid #d4d4d4;
}
.content-channel .breadcrumb {
	background:none;
	padding:0;
	margin:0 15px;
}
.content-channel .top_spons {
	height:90px;
	margin-bottom:10px;
	text-align:center;
	overflow:hidden;
}
.content-channel .top_spons img {
	max-width: 100%;
	max-height: 100%;
}
.content-channel .social a:hover {
	text-decoration:none;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.content-channel .social img {
	width:25px;
}
.content-channel .sponsor_list {

}
.content-channel .sponsor_list li {
	height:130px;
	margin-bottom:15px;
	padding: 0;
}
.content-channel .sponsor_list .thumbnail {
	padding: 0;
	margin: 0;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	display: block;
	text-align: center;
	background: none;
	border: none;
	position: relative;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	overflow: hidden;
}
.content-channel .sponsor_list .thumbnail img {
	max-width: 100%;
	max-height: 100%;
}

/*-------------------------------------------------------------
|
|	sidebar-channel.php
|
---------------------------------------------------------------*/

.sidebar-channel-php {
	border-right: 1px solid #d6d6d6;
	padding-right: 30px;
	padding-top: 50px;
}
.sidebar-channel-php h2.widget {
	margin-left: -12.5%;
	margin-right: -13.5%;
}
h2.widget {
  text-transform: uppercase;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  padding: 16px 20px 14px 20px;
  margin-top: 15px;
	margin-bottom: 15px;
  background: #ffffff;
  font-size: 20px;
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
}
.sidebar-channel-php h2 {
	font-size:16px;
	line-height:18px;
}
.sidebar-channel-php h3 {
	font-size:16px;
	margin-top:35px;
}
.sidebar-channel-php .sponsor {
	height:125px;
	overflow:hidden;
	text-align:center;
}
.sidebar-channel-php .sponsor a {
	width:100%;
	height: 100%;
	display: block;
}
.sidebar-channel-php .sponsor img {
	max-width: 100%;
	max-height: 100%;
}
.sidebar-channel-php .sponsor .row-fluid {
	display:none;
}
.sidebar-channel-php .channel_details {
	font-size:12px;
	margin-bottom:5px;
}
.sidebar-channel-php .contact_channel {
	margin-bottom:5px;
	text-align:center;
}
.sidebar-channel-php .contact_channel .modal {
	text-align:left;
}
.sidebar-channel-php .contact_channel textarea {
	height:100px;
}
.sidebar-channel-php .contact_channel input,
.sidebar-channel-php .contact_channel textarea,
.sidebar-channel-php .contact_channel .uneditable-input {
	width: 275px;
}
.sidebar-channel-php .modal-header h3 {
	font-size:20px;
	margin-top:0;
}
.sidebar-channel-php .nav-tabs>li {
	height: 37px;
	width: 50%;
}
.sidebar-channel-php .nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
	border-bottom: 1px solid #ddd;
	color: #999;
}
.sidebar-channel-php .nav-tabs>li>a {
	padding: 5px 5px 1px 5px;
}
.sidebar-channel-php .media-list img {
	width:50px;
}
.sidebar-channel-php .media-list p {
	font-size:12px;
	line-height:15px;
}
.sidebar-channel-php .media {
	margin-top:5px;
}
.sidebar-channel-php .archive-list {
	max-height:500px;
	overflow:auto;
}
.sidebar-channel-php .photo-gallery img {
	margin-bottom: 8px;
}

/*-------------------------------------------------------------
|
|	taxonomy-channel_cat.php
|
---------------------------------------------------------------*/

.tax-channel_cat .media {
	margin:0;
}
.tax-channel_cat .media-heading {
	margin:0;
}
.tax-channel_cat .media a {
	line-height:35px;
}
.tax-channel_cat .media img {
	max-height:35px;
	max-width:35px;
}
.tax-channel_cat .media h4 {
	line-height:35px;
}

/*-------------------------------------------------------------
|
|	search.php
|
---------------------------------------------------------------*/

.search-results .media {
	margin-top:5px;
}
.search-results .media img {
	max-height:40px;
}
.search-results .media h4 {
	line-height:40px;
}
.search-results .media-list li>a,
.archive .media-list li>a {
	width:50px;
	height:40px;
}

/*-------------------------------------------------------------
|
|	page-learn-more
|
---------------------------------------------------------------*/

.page-id-144 h1,
.page-id-5188 h1 {
	text-align: center;
}
.page-id-144 .fa {
	font-size:90px;
}
.page-id-144 blockquote p:first-child {
	font-size:21px;
	margin-top:5%;
}
.page-id-144 blockquote small {
	color:#888;
}
